<form [formGroup]="form">
  <div class="row mx-4">
    <div class="col-12 mb-2">
      <h5>Profile info</h5>
    </div>
    <div class="col-12 col-sm-6">
      <input class="order-form-select" placeholder="Name" formControlName="name">
    </div>
    <div class="col-12 col-sm-6 mt-2 mt-sm-0">
      <input class="order-form-select" placeholder="Surname" formControlName="surname">
    </div>
  </div>

  <div class="row mt-3 mx-4">
    <div class="col-12">
      <input class="order-form-select" placeholder="Email" formControlName="email">
    </div>
  </div>

  <div class="row mt-3 mx-4">
    <div class="col-12">
      <input class="order-form-select" placeholder="Phone" formControlName="phone">
    </div>
  </div>
</form>
