.card-body {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  button {
    width: 70%;
    background: white;
    color: #0d6efd;
  }
}

