<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ title }}</a>
      <a
        class="icon"
        href="https://github.com/urbanovy4/purchase-wizard"
        target="_blank"
        rel="noopener noreferrer"
        title="GitHub"
      >
        <img src="assets/github-icon.svg" alt="" />
      </a>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="bg-primary">@2022 urbanovy4</footer>
