<div>
  <div class="col-12">
    <h1>Order info</h1>
    <hr class="mt-1">
  </div>
  <ng-container *ngIf="countriesList | async; else loader">
    <div class="order-form my-4 mx-4">
      <div class="container pt-4">
        <div class="row">
          <form
            class="col-12"
            [formGroup]="form"
            (ngSubmit)="onSubmit()">
            <app-profile-form formControlName="profile"></app-profile-form>
            <app-address-form
              (usStatesEvent)="onGetUsStates()"
              [countries]="countriesList | async"
              [usStates]="usStates | async"
              formControlName="address"
            ></app-address-form>
<!--            <ng-container *ngIf="form.get('profile').valid && form.get('address').valid">-->
              <app-payment-form formControlName="payment"></app-payment-form>
<!--            </ng-container>-->
            <div class="row mt-3">
              <div class="col-12">
                <button [disabled]="form.invalid" type="submit" class="btn btn-dark d-block mx-auto btn-submit">
                  Create order
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loader>
    <div class="spinner-wrapper d-flex justify-content-center align-items-center">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </ng-template>

</div>
