<form class="row mt-3 mx-4" [formGroup]="form">
  <div class="col-12">
    <hr>
    <h5>Address info</h5>
  </div>
  <div class="col-12 col-sm-6 mt-2 pr-sm-2">
    <input class="order-form-select" placeholder="City" formControlName="city">
    <div class="invalid-message" *ngIf="form.get('city').invalid && form.get('city').touched">
      <span *ngIf="form.get('city').errors['required']">This field is required.</span>
    </div>
  </div>
  <div class="col-12 col-sm-6 mt-2 pr-sm-2">
    <input class="order-form-select" type="number" placeholder="Postal / Zip Code" formControlName="zipCode">
    <div class="invalid-message" *ngIf="form.get('zipCode').invalid && form.get('zipCode').touched">
      <span *ngIf="form.get('zipCode').errors['required']">This field is required.</span>
    </div>
  </div>
  <ng-container *ngIf="getStreetsControls()['controls'].length">
    <div class="col-12 mt-2" formArrayName="streets">
      <div class="mt-2" *ngFor="let street of getStreetsControls()['controls']; let i = index">
        <input
          class="order-form-select"
          [formControlName]="i"
          [placeholder]="'Street Address ' + (i + 1)"
        >
        <button *ngIf="i" (click)="removeStreet(i)" type="button" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div (click)="addStreet()" class="" style="cursor: pointer; font-size: .875em; margin-left: 2px;"><a>Add street <i
        class="far fa-plus-square"></i></a></div>
    </div>
  </ng-container>
  <!--  <ng-container *ngIf="countries?.length">-->
  <div class="col-12 col-sm-6 mt-2 pl-sm-0" [ngClass]="{'col-sm-12': !form.get('state')}">
    <select class="form-select order-form-select" formControlName="country">
      <option disabled selected value="">Countries</option>
      <option *ngFor="let country of countries" [value]="country.countryName">{{country.countryName}}</option>
    </select>
    <div class="invalid-message" *ngIf="form.get('country').invalid && form.get('country').touched">
      <span *ngIf="form.get('country').errors['required']">This field is required.</span>
    </div>
  </div>
  <!--  </ng-container>-->
  <ng-container *ngIf="form.get('state')">
    <div class="col-12 col-sm-6 mt-2 pl-sm-0">
      <select class="form-select order-form-select" formControlName="state">
        <option disabled selected value="">State</option>
        <option *ngFor="let state of usStates" [value]="state.name">{{state.name}}</option>
      </select>
      <div class="invalid-message" *ngIf="form.get('state').invalid && form.get('state').touched">
        <span *ngIf="form.get('state').errors['required']">This field is required.</span>
      </div>
    </div>
  </ng-container>
</form>
